{% load static %}
<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Welcome Page </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

        <!-- Navigation Bar -->
        <nav>
                <a href="#">SIMPLE DJANGO APP </a>
                <a href="#">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="#">Create account</a>
                <a href="#">Login</a>
        </nav>

        {% block content%}

        {% endblock content %}
        {% block footer %}
        {% endblock footer%}

</body>

</html>
